---
# Only the main Sass file needs front matter (the dashes are enough)
---
$brand-color: #8000FF;

@import "minima";

.img-footnote {
    font-style: italic;
    color: #888;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 5px;
}

hr {
    margin-bottom: 15px;
}

a.site-title {
    color: $brand-color !important;
    &:hover {
        color: black !important;
    }
}